<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de alarmas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input placeholder="Ingrese descripción de la nueva alarma" [(ngModel)]="nuevaDescripcion">
      <!-- linkeo la variable mediante el formModule -->
    </ion-input>
  </ion-item>

  <ion-item>
    <div  class="ion-text-center" style="width: 100%">
    <!-- https://ionicframework.com/docs/api/datetime -->
    <ion-datetime [(ngModel)]="nuevoTimer" presentation="time" [preferWheel]="true" displayFormat="mm:ss" hourCycle="h24" secondValues="0,10,20,30,40,50"></ion-datetime>

    </div>
    @if (alarmaEditada) {
      <ion-button (click)="agregarAlarma()" [disabled]="!nuevaDescripcion">
        Guardar Cambios
      </ion-button>
      <ion-button (click)="cancelarEdicion()" color="danger">
        Cancelar
      </ion-button>
    } @else {
      <ion-button (click)="agregarAlarma()" [disabled]="!nuevaDescripcion">
        Agregar Alarma
      </ion-button>

    }
    
  </ion-item>

  <ion-list>
    @for(alarma of alarmas; track alarma.id ){
      <ion-item>
        {{ alarma.timer | date:'HH:mm' }} -
        {{ alarma.descripcion }}
        <ion-button (click)="editarAlarma(alarma)" slot="end" [disabled]="alarmaEditada">
          <!-- Modificar -->
          ✏️
        </ion-button>
        <ion-button (click)="eliminarAlarma(alarma.id || 0)" slot="end" [disabled]="alarmaEditada">
          ❌
        </ion-button>
      </ion-item>
    }
  </ion-list>

  <ion-footer>  <!-- es para que el boton este al final de la pantalla -->
    <ion-toolbar>
      
      <ion-button expand="block" color="danger" (click)="borrarTodasLasAlarmas()" class="ion-margin" [disabled]="alarmaEditada">
        Borrar Todas las Alarmas
      </ion-button>
    </ion-toolbar>
  </ion-footer>
  
</ion-content>
